body {
    font-family: 'Garamond', serif;
    font-size: 20px;
}


body{
    background-color: #202830;
}

.pag-inicial {
    text-align: center;
}

.botao a{
    color: #9ca4a4;
    width: 200px;
    text-decoration: none; /*remove o sublinhado dos botoes*/
    padding: 10px;
    background-color: aliceblue;
}

.botao{
    display: flex;
    width: 100%;
    justify-content: center; /*Comentário*/
    gap: 15px;
}

.login{
    text-align: center;
    color: aliceblue;
    
}

.caixa{
    text-align: center;
    color: aliceblue;

}

.caixa input{
    width: 200px;
    height: 20px;
}

.cadastro{
    text-align: center;
    color: aliceblue;
}

.cadastro a{
    color: aliceblue;
}

.login a{
    color: aliceblue;
}
    /*background-image: linear-gradient(135deg,); 'DEGRADE' */

