<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/img/mini.png" type="image/x-icon">
</head>
<body class="cadastro">
    <div class="caixa2">
        <h2>Cadastro</h2>
        <p>E-mail</p>
        <input type="text" name="email">

        <p>Nome De Usuário</p>
        <input type="text" name="nome">

        <p>Criar Senha</p>
        <input type="password" name="criarsenha">

        <p>Confirmar senha</p>
        <input type="password" name="confirmar">
        <br>
        
        <a href="/inicio">Criar</a>
    </div>
</body>
    
</body>
</html>