<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="shortcut icon" href="static/img/mini.png" type="image/x-icon">
    <link rel="stylesheet" href="static/style.css"> <!-- Comentário -->
</head>
<body>
    <div class="pag-inicial">
        <img src="static/img/logo.webp">

        <div class="botao">
            <a href="/login">Fazer Login</a>
            <a href="/cadastro">Cadastrar-se</a> 
        </div>
    </div>
</body>
</html>