<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/img/mini.png" type="image/x-icon">
</head>
<body class="login">
    <div class="caixa">
        <form action="/verificar-login" method="post">
            <h2>Login</h2>
            <p>Usuário</p>
            <input type="text" id='username' name='usuario' placeholder="Digite seu usuario">

            <p>Senha</p>
            <input type="password" id='username' name="senha" placeholder="Digite sua senha">
            <br>
            {% with messages = get_flashed_messages()%}
            {% if messages %}
            <div class="resposta">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block body %}{% endblock %}
            <br>
            <button type="/inicio">Entrar</button>
        
    </div>
            </form>
    
</body>
</html>