<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="static/img/mini.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li> <a href="/inicio">Inicio</a></li>
        <li> <a href="/postagens">Postagens</a></li>
        <li> <a href="/perfil">Perfil</a></li>
    </ul> 
    <div class="pag-perfil">
        <img src="static/img/av12.png" width="300px">

        <div class="botoes">
            <a href="/amigos">Amigos</a>
            <a href="/assistidos">Já assisti</a>
            <a href="/quero">Quero assistir</a>
        </div>
    </div>
</body>
</html>